nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: transparent;
}

li {
  margin: 2rem;
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
}

a:hover {
  color: red;
  font-size: 1.6rem;
}
